<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="chat_box">
        <div class="chat_room col-md-8 col-lg-6 col-xl-4">
  
          <div class="card" id="chat1" style="border-radius: 15px;">
            <div
              class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
              style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
              <i class="fas fa-angle-left"></i>
              <p class="mb-0 fw-bold">{{otherUsername}}</p>
              <i class="fas fa-times"></i>
            </div>
            <div class="card-body">
            
                <div *ngFor="let message of chatMessages">
                    <div *ngIf="message.sender.username==otherUsername" class="d-flex flex-row justify-content-start mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                          alt="avatar 1" style="width: 45px; height: 100%;">
                        <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                          <p class="small mb-0">{{message.text}}</p>
                        </div>
                      </div>

                      <div *ngIf="message.sender.username!=otherUsername"  class="d-flex flex-row justify-content-end mb-4">
                        <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                          <p class="small mb-0">{{message.text}}</p>
                        </div>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                          alt="avatar 1" style="width: 45px; height: 100%;">
                      </div>
          
                </div>

                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                      alt="avatar 3" style="width: 40px; height: 100%;">
                    <input [(ngModel)]="textMessage" type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                      placeholder="Type message">
                    <button (click)="onSendMessage()" class="btn-primary"><nb-icon icon="paper-plane-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
                  </div>
  
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </section>

