<div class="col-xs-12 col-md-6 col-md-offser-3" >
    <ng-container *ngIf="loginError" >
        <div class="alert alert-danger error" role="alert" >
            {{loginError}}
          </div>
    </ng-container> 
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)" *ngIf="!loadingSpinner" >
        <div class="form-group">
            <label for="username">username</label>
            <input type="email"
                id="username"
                placeholder="email@gmail.com" 
                class="form-control" 
                [ngClass]="{'invalid' : (loginForm.controls.username.errors && loginForm.controls.username.touched) ,'valid': (!loginForm.controls.username.errors && !loginForm.controls.username.pristine)}" 
                name="username" 
                formControlName="username">

            <div class="error" >
                <small *ngIf="!loginForm.controls.username.value && loginForm.controls.username.touched "> email is required!</small>
                <small *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors && loginForm.controls.username.value">please enter valid email address!</small>
            </div>

            <label for="password">password</label>
            <input type="text" 
                id="password" 
                class="form-control"
                placeholder="password"
                [class]="{'invalid' : (loginForm.controls.password.errors && loginForm.controls.password.touched) ,'valid': (!loginForm.controls.password.errors && !loginForm.controls.password.pristine)}" 
                name="password" 
                formControlName="password">
                <div class="error" >
                    <small *ngIf="!loginForm.controls.password.value && loginForm.controls.password.touched" > password is required! </small>
                </div>
            <small> <a [routerLink]="['./forgot-password']"> forgot password? </a> </small><br>
            <button type="submit" mat-button color="primary" [disabled]="!loginForm.valid">LogIn</button>
        </div>
    </form>
    <mat-spinner  *ngIf="loadingSpinner" ></mat-spinner>

</div>

<router-outlet ></router-outlet>
